@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact-info-section {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.contact-info-container {
  max-width: 1140px;
  margin: auto;
}

.contact-info-inner {
  width: 100%;
  padding-top: 70px;
  display: flex;
}

.contact-form-wrapper {
  width: 67%;
  padding: 10px;
  margin-right: 3%;
}

.contact-form-inner {
  padding: 50px 50px 32px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.contact-form-intro p {
  font-size: 17px;
  line-height: 29px;
  margin-bottom: 16px;
}

.contact-form-box {
  padding-top: 20px;
}

.contact-form-box form {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 24px;
}

.contact-form-box label,
.contact-form-box input,
.contact-form-box textarea,
.contact-form-box button {
  width: 100%;
}

.contact-form-box input,
.contact-form-box textarea {
  border: 1px solid #dce0e0;
  border-radius: 4px;
  padding: 5px 14px;
  font-weight: 400;
  outline: none;
  transition: border 0.15s ease-in-out;
}

.contact-form-box input {
  height: 42px;
}

.contact-form-box textarea {
  height: 96px;
}

.contact-form-box input:focus,
.contact-form-box textarea:focus {
  border: 2px solid #dce0e0;
}

.contact-form-box input::placeholder,
.contact-form-box textarea::placeholder {
  font-weight: 300;
}

.contact-form-content {
  display: flex;
  flex-wrap: wrap;
}

.contact-form-content label {
  font-weight: 500;
}

.contact-form-content label::after {
  content: "*";
  color: red;
  padding-left: 3px;
}

.first-name-wrap,
.last-name-wrap,
.email-wrap,
.message-wrap,
.submit-button-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  position: relative;
}

.first-name-wrap {
  width: calc(50% - 10px);
}

.last-name-wrap {
  width: calc(50% + 10px);
  padding-left: 20px;
}

.message-wrap {
  margin-bottom: 16px;
}

.submit-button-wrap {
  margin-bottom: 4px;
}

.first-name-wrap.invalid::after,
.last-name-wrap.invalid::after,
.email-wrap.invalid::after,
.message-wrap.invalid::after {
  content: url("../../images/contact/circle-warning.svg");
  position: absolute;
  top: 53%;
  right: 15px;
  pointer-events: none;
}

.message-wrap.invalid::after {
  top: 25%;
}

.submit-button-wrap button {
  width: 100%;
  min-height: 40px;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  background-color: #00aeff;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.submit-button-wrap button:hover {
  background-color: #3fc2ff;
}

.submit-button-wrap button > span {
  vertical-align: middle;
  margin-left: 10px;
}

.submit-button-wrap button > span.inactive {
  display: none;
}

.success-message,
.error-message {
  width: 100%;
  margin-top: 12px;
}

.success-message {
  padding: 0 5px;
  height: 0;
  overflow: hidden;
  transition: height 0.15s ease 0.15s;
}

.success-message.active {
  height: 42px;
}

.success-message div {
  width: 100%;
  padding: 8px 10px;
  background-color: #d4edda;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  line-height: 24px;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.15s;
}

.success-message.active div {
  opacity: 1;
}

.success-message div > p {
  width: fit-content;
}

.success-message div > button {
  width: fit-content;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s;
}

.success-message div > button:hover {
  opacity: 0.75;
}

.error-message label {
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #ea3d3d;
  padding: 0 0 5px;
  transition: all 0.2s linear;
}

.error-message label.active {
  display: block;
  cursor: pointer;
}

.contact-info-wrapper {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.inquiries-contact-box,
.location-contact-box {
  width: 100%;
  margin-bottom: 25px;
  background-color: #fff;
}

.inquiries-contact-box div,
.location-contact-box div {
  padding: 30px 30px 15px;
}

.inquiries-contact-box h3,
.inquiries-contact-box p,
.location-contact-box p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 16px;
}

.inquiries-contact-box h3,
.inquiries-contact-box span,
.location-contact-box span {
  font-weight: 600;
}

.social-contact-box {
  width: 100%;
  display: flex;
}

.social-link {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s, transform 0.3s;
}

.social-link:hover {
  opacity: 0.9;
  transform: scale(0.9);
}

.social-link a {
  display: inline-block;
}

@media (max-width: 767px) {
  .contact-info-container {
    margin: 0 3%;
  }

  .contact-info-inner {
    flex-direction: column;
    padding: 40px 0 20px;
  }

  .contact-form-wrapper,
  .contact-info-wrapper {
    width: 100%;
    margin-right: 0;
  }

  .contact-form-inner {
    padding: 50px 30px 32px;
  }

  .first-name-wrap,
  .last-name-wrap {
    width: 100%;
    padding-left: 0;
  }

  .submit-button-wrap {
    width: 60%;
    margin: 0 auto 4px;
  }

  .social-contact-box {
    background-color: #fff;
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-info-container {
    margin: 0 5%;
  }

  .contact-info-inner {
    flex-direction: column;
    padding: 50px 0 30px;
  }

  .contact-form-wrapper,
  .contact-info-wrapper {
    width: 100%;
    margin-right: 0;
  }

  .submit-button-wrap {
    width: 50%;
    margin: 0 auto 4px;
  }

  .social-contact-box {
    background-color: #fff;
    padding: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contact-info-container {
    margin: 0 3%;
  }

  .contact-form-wrapper {
    width: 68%;
    margin-right: 2%;
  }

  .contact-info-wrapper {
    justify-content: space-between;
  }

  .inquiries-contact-box,
  .location-contact-box,
  .social-contact-box {
    margin-bottom: 0;
  }
}
