@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

.about-page {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*** ABOUT TITLE SECTION START ***/

.about-title-section {
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.about-title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #004274;
  opacity: 0.5;
}

.about-title-container {
  max-width: 1140px;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.about-title-inner {
  padding: 10px;
  width: 100%;
}

.about-title-inner h1 {
  font-size: 30px;
  line-height: 1;
  color: #fff;
}

/*** ABOUT TITLE SECTION END ***/
/*
/*
/*** INTRO SECTION START ***/

.intro-section {
  width: 100%;
  height: 100%;
}

.intro-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
}

.intro-section-inner {
  width: 100%;
  padding: 10px;
}

.intro-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 70px 0 50px;
}

.intro-content-title {
  width: 100%;
  margin-bottom: 20px;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.intro-content-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.intro-content-text {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 20px;
}

.intro-content-text div {
  width: 50%;
}

.intro-content-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #54595f;
  margin-bottom: 16px;
}

.intro-content-text p > span {
  font-weight: 600;
}

/*** INTRO SECTION END ***/
/*
/*
/*** TEAM SECTION START ***/

.team-section {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}

.team-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
}

.team-section-inner {
  width: 100%;
  padding: 10px;
}

.team-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 70px 0 50px;
}

.team-title {
  width: 100%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.team-title h2 {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.team-title p {
  font-size: 16px;
  line-height: 24px;
  color: #7a7a7a;
  margin-bottom: 20px;
}

.team-cards-box {
  width: 100%;
  display: flex;
  align-items: center;
}

.team-card-item {
  width: 25%;
  min-height: 1px;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.team-card {
  width: 100%;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.team-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.75) 100%
  );
  opacity: 1;
  z-index: 1;
  transition: opacity 0.2s;
}

.team-card:hover::before {
  opacity: 0;
}

.card-content,
.card-content-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  text-align: center;
  z-index: 2;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translate(0, 0);
  transition: transform 0.2s;
}

.team-card-item:hover .card-content {
  transform: translate(-100%, 0);
}

.card-content h3,
.card-content p {
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.card-content h3 {
  font-weight: 600;
}

.card-content-hover {
  background-color: rgba(255, 255, 255, 0.9);
  transform: translate(100%, 0);
  transition: transform 0.2s;
}

.team-card-item:hover .card-content-hover {
  transform: translate(0, 0);
}

.content-hover-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.content-hover-name,
.content-hover-title,
.content-hover-text,
.content-hover-social {
  font-size: 15px;
  line-height: 24px;
  color: #222;
  width: 100%;
}

.content-hover-name {
  font-weight: 600;
}

.content-hover-text {
  margin: 20px 0;
}

.content-hover-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-hover-social a {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
}

/*** TEAM SECTION END ***/
/*
/*
/*** SERVICES SECTION START ***/

.services-section {
  width: 100%;
  height: 100%;
}

.services-container {
  max-width: 1140px;
  margin: auto;
}

.services-section-inner {
  width: 100%;
  padding: 10px;
  display: flex;
}

.services-content-wrapper {
  padding: 70px 0 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.services-title {
  width: 100%;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.services-title h2 {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.services-title p {
  font-size: 16px;
  line-height: 24px;
  color: #7a7a7a;
  margin-bottom: 20px;
}

.services-grid-content {
  width: 100%;
  display: flex;
}

.services-grid-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 25%;
}

.services-grid-item {
  width: 100%;
}

.services-grid-item-inner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.services-grid-item-inner.type-1,
.services-grid-item-inner.type-2 {
  padding-bottom: 100%;
}

.services-grid-item-inner.type-3 {
  padding-bottom: calc(200% + 30px);
}

.services-grid-item-inner a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.services-grid-item-inner a::before {
  content: "";
  position: relative;
  display: block;
  background-color: #000;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
  transition: opacity 0.2s;
}

.services-grid-item-inner a:hover:before {
  opacity: 0;
}

.services-grid-item-inner.type-1 a > .services-grid-item-text {
  color: #fff;
  transition: color 0.2s;
}

.services-grid-item-inner.type-1 a:hover > .services-grid-item-text {
  color: #000;
}

.services-grid-item-inner.type-1 a > .services-grid-item-text > svg > path {
  stroke: #fff;
  transition: stroke 0.2s;
}

.services-grid-item-inner.type-1
  a:hover
  > .services-grid-item-text
  > svg
  > path {
  stroke: #000;
}

.services-grid-item-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  color: #fff;
  z-index: 2;
}

.services-grid-subtitle,
.services-grid-title,
.services-grid-link {
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
}

.services-grid-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.services-grid-link {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.services-grid-item-inner a > div > img,
.services-grid-item-inner a > div > svg {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/*** SERVICES SECTION END ***/
/*
/*
/*** BLOG SECTION START ***/

.blog-section {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}

.blog-container {
  max-width: 1140px;
  margin: auto;
}

.blog-section-inner {
  width: 100%;
  padding: 10px;
  display: flex;
}

.blog-content-wrapper {
  padding: 70px 0 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.blog-title {
  width: 100%;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.blog-title h2 {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.blog-title p {
  font-size: 16px;
  line-height: 24px;
  color: #7a7a7a;
  margin-bottom: 20px;
}

.blog-posts-wrapper {
  width: 100%;
  padding: 10px;
  display: flex;
}

.blog-post {
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
}

.blog-post-inner {
  width: 100%;
  height: 100%;
  padding: 8px 0;
  margin-bottom: 8px;
  background-color: #fff;
}

.blog-post-box {
  width: 100%;
  height: calc(100% - 27px);
  margin: auto;
}

.blog-post-img {
  margin: 0 8px;
}

.blog-post-img a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.blog-post-img a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.75) 100%
  );
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.2s;
}

.blog-post-img a:hover::before {
  opacity: 0;
}

.blog-post-img a > img {
  width: 100%;
  height: auto;
}

.blog-post-content {
  padding: 10px 20px 20px;
}

.blog-post-meta {
  width: 100%;
  display: flex;
  align-items: center;
}

.blog-post-date {
  display: flex;
  margin-right: 10px;
  font-size: 12px;
  line-height: 24px;
  color: #636363;
}

.blog-post-date::before {
  content: url("../../images/about/calendar.svg");
  margin-right: 6px;
}

.blog-post-theme {
  display: flex;
  font-size: 12px;
  line-height: 24px;
  color: #00aeff;
}

.blog-post-theme::before {
  content: url("../../images/about/tag.svg");
  margin-right: 6px;
}

.blog-post-theme a {
  display: inline-block;
}

.blog-post-title {
  margin-bottom: 8px;
}

.blog-post-title h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #222;
}

.blog-post-text {
  font-size: 13px;
  line-height: 21px;
  color: #636363;
  margin-bottom: 10px;
}

.blog-post-link {
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;
  color: #00aeff;
}

.blog-post-link a {
  display: inline-block;
}

.blog-post-author {
  width: 100%;
  padding: 8px 20px 0;
  border-top: 1px solid #dce0e0;
  font-size: 12px;
  color: #636363;
  display: flex;
  align-items: center;
}

.blog-post-author::before {
  content: url("../../images/about/user.svg");
  margin-right: 4px;
}

/*** BLOG SECTION END ***/
/*
/*
/************************/

@media (max-width: 575px) {
  .about-title-container,
  .intro-container,
  .team-container,
  .services-container {
    margin: 0 3%;
  }

  .about-title-inner,
  .intro-section-inner,
  .team-section-inner {
    padding: 10px 20px;
  }

  .intro-content-wrapper {
    padding: 35px 0 20px;
  }

  .intro-content-title,
  .services-title,
  .blog-title,
  .services-grid-box
    .services-grid-item:last-child
    > .services-grid-item-inner {
    margin-bottom: 10px;
  }

  .intro-content-text {
    gap: 20px;
  }

  .team-content-wrapper,
  .services-content-wrapper,
  .blog-content-wrapper {
    padding: 50px 0;
  }

  .team-title h2,
  .services-title h2,
  .blog-title h2 {
    font-size: 28px;
  }

  .team-cards-box,
  .services-grid-content,
  .blog-posts-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .team-card-item,
  .services-grid-box,
  .blog-post {
    width: 100%;
  }

  .services-grid-item-inner.type-3 {
    padding-bottom: calc(100% + 30px);
  }

  .blog-posts-wrapper {
    justify-content: space-between;
    gap: 8px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .about-title-container,
  .intro-container,
  .team-container,
  .services-container {
    margin: 0 5%;
  }

  .intro-content-wrapper {
    padding: 50px 0 35px;
  }

  .team-content-wrapper,
  .services-content-wrapper,
  .blog-content-wrapper {
    padding: 60px 0 50px;
  }

  .team-title h2,
  .services-title h2,
  .blog-title h2 {
    font-size: 30px;
  }

  .team-cards-box,
  .services-grid-content,
  .blog-posts-wrapper {
    flex-wrap: wrap;
  }

  .team-card-item,
  .services-grid-box {
    width: 50%;
  }

  .services-grid-box:first-child > div:last-child > .services-grid-item-inner,
  .services-grid-box:nth-child(2) > div:last-child > .services-grid-item-inner {
    margin-bottom: 10px;
  }

  .blog-container {
    margin: 0 3%;
  }

  .blog-posts-wrapper {
    justify-content: space-between;
    gap: 8px;
  }

  .blog-post {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-title-container,
  .intro-container,
  .team-container,
  .services-container {
    margin: 0 5%;
  }

  .team-title h2,
  .services-title h2,
  .blog-title h2 {
    font-size: 32px;
  }

  .team-cards-box,
  .services-grid-content,
  .blog-posts-wrapper {
    flex-wrap: wrap;
  }

  .team-card-item,
  .services-grid-box {
    width: 50%;
  }

  .services-grid-box:first-child > div:last-child > .services-grid-item-inner,
  .services-grid-box:nth-child(2) > div:last-child > .services-grid-item-inner {
    margin-bottom: 10px;
  }

  .blog-container {
    margin: 0 3%;
  }

  .blog-posts-wrapper {
    justify-content: space-between;
    row-gap: 8px;
  }

  .blog-post {
    width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-title-container,
  .intro-container,
  .team-container,
  .services-container,
  .blog-container {
    margin: 0 3%;
  }

  .team-title h2,
  .services-title h2,
  .blog-title h2 {
    font-size: 32px;
  }

  .content-hover-name,
  .content-hover-title {
    font-size: 14px;
    line-height: 20px;
  }

  .content-hover-text {
    font-size: 14px;
    margin: 5px 0;
  }

  .blog-posts-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 8px;
  }

  .blog-post {
    width: 50%;
  }
}
