@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

.home-page {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  margin-top: -90px;
}

/*** HERO SECTION START ***/

.hero-section {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-section-top {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-slideshow {
  position: relative;
  width: 100%;
  min-height: 530px;
}

.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.hero-slide.active {
  opacity: 1;
}

.hero-slide div {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 10s linear;
}

.hero-slide.active div {
  transform: scale(1.3);
}

.hero-overlay {
  background: linear-gradient(
    180deg,
    rgba(0, 66, 116, 0.35) 0%,
    #004274 100%
  ) !important;
  opacity: 1 !important;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 530px !important;
  height: auto !important;
  z-index: 1;
}

.hero-text-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.text-wrapper {
  position: relative;
  max-width: 1140px;
  width: 100%;
  min-height: 530px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-wrapper div {
  width: 100%;
  height: 270px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.text-wrapper div > h1 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 0 0 10px;
}

.text-wrapper div > p {
  font-size: 25px;
  margin: 0 0 16px;
  max-width: 820px;
}

.hero-section-bottom {
  width: 100%;
  height: 100%;
  background-color: #004274;
}

.hero-cards {
  position: relative;
  max-width: 1140px;
  width: 100%;
  max-height: 433px;
  margin: auto;
  padding: 20px 10px 100px;
}

.hero-cards-wrapper {
  max-width: 1120px;
  height: 100%;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1px;
}

.hero-card {
  width: calc(100% / 3 - 2px);
  height: 100%;
  padding: 35px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(242, 41, 91, 0) 100%
  );
  text-align: center;
  transform: translate(0, 0);
  box-shadow: none;
  transition: transform 0.2s, box-shadow 0.2s;
}

.hero-card:first-child {
  margin-left: 2px;
}

.hero-card:last-child {
  margin-right: 2px;
}

.hero-card:hover {
  transform: translate(0, -10px);
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
}

.hero-card h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 29px;
  margin: 24px 0 0;
}

.hero-card p {
  font-size: 17px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.78);
  margin: 10px 0 20px;
}

.card-link {
  width: 100%;
}

.card-link a {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #00aeff;
  text-decoration: none;
}

.hero-bottom-shape,
.widgets-top-shape,
.widgets-bottom-shape,
.form-top-shape,
.form-bottom-shape {
  width: 100%;
  height: 90px;
  position: relative;
  z-index: 2;
}

.hero-bottom-shape img,
.widgets-bottom-shape img,
.form-bottom-shape img {
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
}

/*** HERO SECTION END ***/
/*
/*
/*** CAROUSEL SECTION START ***/

.carousel-section {
  width: 100%;
  height: 100%;
}

.carousel-container {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.carousel-text-content {
  width: 100%;
  height: 172px;
  padding: 40px 10px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-text-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 0 0 10px;
  color: #000;
}

.carousel-text-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #7a7a7a;
  width: 850px;
  margin-bottom: 16px;
}

.carousel-wrapper {
  max-width: 1280px;
  margin: auto;
}

.swiper {
  width: 100%;
  height: 453px;
  padding: 10px;
}

.swiper-wrapper {
  max-height: 338px;
  margin-top: 38px;
}

.swiper-slide {
  width: 293px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}

.slide-inner {
  padding-bottom: 25px;
}

.slide-img {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.slide-img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.75) 100%
  );
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.2s;
}

.slide-img:hover::before {
  opacity: 0;
}

.slide-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
}

.label-left,
.label-right {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  padding: 3px 5px;
  background-color: #61ce70;
  border-radius: 2px;
  z-index: 1;
}

.label-right {
  left: auto;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.65);
  transition: color 0.2s;
}

.label-right:hover {
  color: #00aeff;
}

.property-price {
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  position: absolute;
  left: 20px;
  bottom: 15px;
  z-index: 2;
}

.property-price span {
  font-weight: 300;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.property-name {
  width: 100%;
  margin-top: 20px;
}

.property-name h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #222;
  margin-bottom: 10px;
  transition: color 0.2s;
}

.property-name h3:hover {
  color: #00aeff;
}

.property-info,
.property-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.property-bedrooms,
.property-bathrooms,
.property-area,
.property-type {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #222;
}

.property-bedrooms img,
.property-bathrooms img,
.property-area img {
  margin-right: 9px;
}

.property-bedrooms span,
.property-bathrooms span,
.property-area span {
  margin-right: 12px;
}

.property-area span {
  font-size: 12px;
  font-weight: 300;
}

.property-area .area {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 500;
}

.property-type {
  display: block;
  font-size: 12px;
  margin-top: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  padding-left: 10px;
  padding-right: 10px;
  width: 48px;
  height: 30px;
  border: 1px solid #00aeff;
  border-radius: 3px;
  background-color: transparent;
  color: #00aeff;
  transition: background-color 0.2s, color 0.2s;
}

.swiper-button-prev {
  position: absolute;
  top: 32px;
  right: 63px;
  left: auto;
}

.swiper-button-next {
  position: absolute;
  top: 32px;
  right: 10px;
  left: auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
}

.swiper-button-prev::after {
  content: "Prev";
}

.swiper-button-next::after {
  content: "Next";
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #00aeff;
  color: #fff;
}

.swiper-pagination {
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  margin: 6px 10px !important;
  width: 6px;
  height: 6px;
  opacity: 1;
  gap: 0;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

/*** CAROUSEL SECTION END ***/
/*
/*
/*** WIDGETS SECTION START ***/

.widgets-section {
  width: 100%;
  background-image: url("../../images/home/property-08.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.widgets-overlay,
.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 66, 116, 0.45);
  z-index: 1;
}

.widgets-top-shape,
.form-top-shape {
  position: absolute;
  top: 0;
  left: 0;
}

.widgets-top-shape img,
.form-top-shape img {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}

.widgets-bottom-shape,
.form-bottom-shape {
  position: absolute;
  bottom: 0;
  left: 0;
}

.widgets-content {
  max-width: 977px;
  width: 100%;
  min-height: 750px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 3;
}

.widgets-content-inner {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widgets-title {
  max-width: 735px;
  width: 100%;
  display: flex;
  margin: auto;
  padding: 10px;
}

.widgets-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.35;
  margin-bottom: 30px;
}

.widgets-container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget {
  padding: 30px;
  width: 25%;
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background-color: rgba(0, 66, 116, 0.71);
  transform: translate(0, 0);
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0);
  transition: transform 0.2s, box-shadow 0.2s;
}

.widget a {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.widget:hover {
  transform: translate(0, -10px);
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
}

/*** WIDGETS SECTION END ***/
/*
/*
/*** GRID LAYOUT SECTION START ***/

.grid-layout-section {
  width: 100%;
  height: 100%;
}

.grid-layout-content {
  max-width: 920px;
  margin: auto;
  display: flex;
}

.grid-items-box {
  width: calc(100% / 3);
  padding: 15px;
  margin: 120px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-text h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -1px;
  color: #000;
  margin-bottom: 10px;
}

.grid-text p {
  font-size: 18px;
  line-height: 1.5;
  color: #7a7a7a;
  margin-bottom: 30px;
}

.grid-item {
  width: 100%;
}

.grid-item-inner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 30px;
  position: relative;
}

.grid-item-inner.item-type-1 {
  padding-bottom: calc(200% + 30px);
}

.grid-item-inner.item-type-2 {
  padding-bottom: 100%;
}

.grid-item-inner.item-type-3 {
  padding-bottom: calc(75% + 7.5px);
}

.grid-item-inner a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  border-radius: 4px;
  overflow: hidden;
}

.grid-item-inner a::before {
  content: "";
  position: relative;
  display: block;
  background-color: #000;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
  transition: opacity 0.2s;
}

.grid-item-inner a:hover::before {
  opacity: 0;
}

.grid-item-text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.grid-item-subtitle,
.grid-item-title {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  z-index: 2;
}

.grid-item-title {
  font-size: 20px;
}

.grid-item-link {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  z-index: 2;
}

.grid-item-inner a > div > img {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 2;
}

/*** GRID LAYOUT SECTION END ***/
/*
/*
/*** FORM SECTION START ***/

.form-section {
  width: 100%;
  background-image: url("../../images/home/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form-content {
  max-width: 1140px;
  min-height: 750px;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.form-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.form-content-inner {
  width: 100%;
  height: fit-content;
  display: flex;
  margin: 120px 0 160px;
}

.form-descr {
  padding: 30px;
  width: 40%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-descr h2 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.form-descr p {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 36px;
}

.form-descr div {
  padding-top: 15px;
  margin-bottom: 15px;
  width: 20%;
  border-bottom: 1px solid #fff;
}

.form-container {
  width: 50%;
  background-color: #fff;
}

.form-container form {
  padding: 50px 50px 30px;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 24px;
  color: #222;
}

.form-container label {
  font-weight: 600;
}

.form-container label,
.form-container select,
.form-container input,
.form-container button {
  width: 100%;
}

.form-container select,
.form-container input {
  border: 2px solid #dce0e0;
  border-radius: 4px;
  padding: 6px 16px;
  height: 47px;
  outline: none;
  transition: border 0.15s ease-in-out;
}

.form-container select:focus,
.form-container input:focus {
  border: 3px solid #dce0e0;
}

.form-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px;
}

.form-container input {
  font-weight: 400;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-container select::placeholder,
.form-container input::placeholder {
  font-weight: 300;
}

.form-fields-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.inquiry-type-box,
.user-type-box,
.first-name-box,
.last-name-box,
.email-box,
.property-type-box,
.price-box,
.area-size-box,
.beds-num-box,
.baths-num-box,
.submit-btn-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  position: relative;
}

.first-name-box,
.last-name-box,
.price-box,
.area-size-box,
.beds-num-box,
.baths-num-box {
  width: 50%;
}

.inquiry-type-box::after,
.user-type-box::after,
.property-type-box::after {
  content: url("../../images/home/arrow-down-color.svg");
  position: absolute;
  top: 48%;
  right: 15px;
  pointer-events: none;
}

.inquiry-type-box.invalid::before,
.user-type-box.invalid::before,
.property-type-box.invalid::before {
  content: url("../../images/home/circle-warning.svg");
  position: absolute;
  top: 52%;
  right: 30px;
  pointer-events: none;
}

.first-name-box.invalid::after,
.email-box.invalid::after,
.price-box.invalid::after,
.area-size-box.invalid::after,
.beds-num-box.invalid::after,
.baths-num-box.invalid::after {
  content: url("../../images/home/circle-warning.svg");
  position: absolute;
  top: 28%;
  right: 15px;
  pointer-events: none;
}

.submit-btn-box button {
  width: 100%;
  min-height: 47px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  background-color: #00aeff;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.submit-btn-box button:hover {
  background-color: #3fc2ff;
}

.submit-btn-box button > span {
  vertical-align: middle;
  margin-left: 10px;
}

.submit-btn-box button > span.inactive {
  display: none;
}

.success-msg,
.error-msg {
  width: 100%;
  margin-top: 12px;
}

.success-msg {
  padding: 0 5px;
  height: 0;
  overflow: hidden;
  transition: height 0.15s ease 0.15s;
}

.success-msg.active {
  height: 42px;
}

.success-msg div {
  width: 100%;
  padding: 8px 10px;
  background-color: #d4edda;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  line-height: 24px;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.15s;
}

.success-msg.active div {
  opacity: 1;
}

.success-msg div > p {
  width: fit-content;
}

.success-msg div > button {
  width: fit-content;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s;
}

.success-msg div > button:hover {
  opacity: 0.75;
}

.error-msg label {
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #ea3d3d;
  padding: 0 0 5px;
  transition: all 0.2s linear;
}

.error-msg label.active {
  display: block;
}

/*** FORM SECTION END ***/
/*
/*
/*** CONTENT TYPES SECTION START ***/

.content-types-section {
  width: 100%;
  height: 100%;
  background-image: url("../../images/home/bg-marker-right.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.content-types-container {
  max-width: 1140px;
  margin: auto;
}

.content-types-inner {
  padding: 90px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-types-text {
  max-width: 870px;
  margin: auto;
}

.content-types-text div {
  padding: 10px;
  text-align: center;
}

.content-types-text div > h2 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 10px;
}

.content-types-text div > p {
  font-size: 18px;
  line-height: 1.5;
  color: #7a7a7a;
  margin-bottom: 16px;
}

.content-types-grid {
  width: 100%;
  height: 100%;
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 30px;
}

.content-grid-item.grid-item-type-1 {
  grid-column: span 2;
}

.content-grid-item.grid-item-type-2 {
  grid-column: span 1;
}

.content-grid-box {
  min-height: 257.5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.content-grid-box a {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  cursor: pointer;
}

.content-grid-box a::before {
  content: "";
  position: relative;
  display: block;
  background-color: #000;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
  transition: opacity 0.2s;
}

.content-grid-box a:hover::before {
  opacity: 0;
}

.content-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.grid-box-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.grid-box-subtitle {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.78);
}

/*** CONTENT TYPES SECTION END ***/
/*
/*
/*** AGENTS SECTION START ***/

.agents-section {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}

.agents-content,
.testimonials-content {
  max-width: 1140px;
  margin: auto;
}

.agents-content-inner,
.testimonials-content-inner {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agents-text,
.testimonials-title {
  width: 100%;
  padding: 90px 0 20px;
  text-align: center;
}

.agents-text h2,
.testimonials-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1px;
  color: #000;
  margin-bottom: 10px;
}

.agents-text p,
.testimonials-title p {
  font-size: 18px;
  line-height: 1.5;
  color: #7a7a7a;
  margin-bottom: 16px;
}

.agents-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.agent-item {
  padding: 35px;
  margin-left: 1px;
  text-align: center;
  background-color: #fff;
  transform: translate(0, 0);
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0);
  transition: transform 0.2s, box-shadow 0.2s;
}

.agent-item:hover {
  transform: translate(0, -10px);
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.agent-img-box {
  width: 100%;
  padding-bottom: 30px;
}

.agent-img-box a {
  display: block;
  width: 150px;
  margin: auto;
}

.agent-img-box a img {
  width: 100%;
  border-radius: 50%;
}

.agent-info {
  padding-bottom: 20px;
  line-height: 24px;
}

.agent-info h3,
.agent-info div,
.agent-info p,
.agent-link {
  font-size: 15px;
  line-height: 24px;
}

.agent-info h3 {
  font-weight: 600;
  color: #00aeff;
}

.agent-info div {
  font-weight: 500;
  color: #222;
}

.agent-info p {
  color: #636363;
  padding-top: 20px;
}

.agent-link {
  font-weight: 500;
  color: #00aeff;
}

/*** AGENTS SECTION END ***/
/*
/*
/*** TESTIMONIALS SECTION START ***/

.testimonials-section {
  width: 100%;
  height: 100%;
}

.about-page .testimonials-title > h2 {
  font-weight: 300;
}

.testimonials-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 90px;
}

.testimonial-box {
  width: calc(100% / 3);
  padding: 0 15px;
}

.testimonial-box-inner {
  width: 100%;
  padding: 40px;
  margin-bottom: 30px;
  background-color: #edf9ff;
}

.testimonials-title p {
  font-size: 16px;
}

.testimonial-icon {
  width: 100%;
  margin-bottom: 10px;
}

.testimonial-text {
  margin-bottom: 30px;
}

.testimonial-text p {
  font-size: 15px;
  line-height: 24px;
  color: #222;
}

.testimonial-info {
  display: flex;
  align-items: center;
  max-height: 70px;
}

.testimonial-info img {
  max-width: 70px;
  border-radius: 50%;
}

.testimonial-info div {
  font-size: 15px;
  line-height: 24px;
  color: #222;
  margin-left: 20px;
}

/*** TESTIMONIALS SECTION END ***/
/*
/*
/*** PARTNERS SECTION START ***/

.partners-section {
  width: 100%;
  height: 100%;
  border-top: 1px solid #ececec;
}

.partners-box {
  max-width: 1140px;
  margin: auto;
}

.partners-box-inner {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.partner-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}

/*** PARTNERS SECTION END ***/
/*
/*
/****************************/

@media (max-width: 575px) {
  .text-wrapper div {
    width: 90%;
    height: 470px;
    position: relative;
    top: 60px;
    justify-content: center;
  }

  .text-wrapper div > h1 {
    font-size: 30px;
  }

  .text-wrapper div > p {
    font-size: 20px;
  }

  .hero-cards {
    max-height: fit-content;
  }

  .hero-cards-wrapper {
    flex-direction: column;
    margin: 0 3%;
  }

  .hero-card {
    width: 100%;
    margin: 0 !important;
  }

  .hero-card p,
  .carousel-text-content p,
  .grid-text p,
  .form-descr p,
  .content-types-text div > p,
  .agents-text p {
    font-size: 16px;
  }

  .carousel-container {
    padding: 40px 20px 60px;
  }

  .carousel-text-content {
    height: auto;
  }

  .carousel-text-content h2,
  .form-descr h2,
  .content-types-text div > h2,
  .agents-text h2,
  .testimonials-title h2 {
    font-size: 28px;
  }

  .carousel-text-content p {
    width: 100%;
  }

  .swiper {
    width: 91%;
    height: 100%;
  }

  .swiper-wrapper {
    max-height: fit-content;
    margin-top: 0;
  }

  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination {
    display: none;
  }

  .widgets-content {
    min-height: 1100px;
  }

  .widgets-content-inner {
    margin: 0 3%;
  }

  .widgets-title {
    justify-content: center;
  }

  .widgets-title h2,
  .grid-text h2 {
    font-size: 24px;
  }

  .widgets-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .widget {
    width: 100%;
    margin: 1px 0 0;
  }

  .widget:hover {
    transform: none;
  }

  .grid-layout-content {
    flex-wrap: wrap;
    padding: 50px 0;
  }

  .grid-items-box {
    width: 100%;
    margin: 0 3%;
  }

  .grid-text {
    text-align: left;
  }

  .grid-items-box:first-child .grid-item > .grid-item-inner,
  .grid-items-box:nth-child(2) .grid-item:last-child > .grid-item-inner {
    margin-bottom: 0;
  }

  .grid-item-inner.item-type-1,
  .grid-item-inner.item-type-3 {
    padding-bottom: 100%;
  }

  .form-content-inner {
    flex-wrap: wrap;
  }

  .form-descr,
  .form-container {
    width: 100%;
  }

  .form-descr {
    margin: 0;
    padding: 30px 30px 40px;
  }

  .form-descr p {
    margin-bottom: 16px;
  }

  .form-container {
    margin: 0 3%;
  }

  .form-container form {
    padding: 40px 40px 30px;
  }

  .first-name-box,
  .last-name-box,
  .price-box,
  .area-size-box,
  .beds-num-box,
  .baths-num-box {
    width: 100%;
  }

  .content-types-container {
    margin: 0 3%;
  }

  .content-types-inner {
    padding: 60px 10px 80px;
  }

  .content-types-grid {
    gap: 20px;
  }

  .content-grid-item.grid-item-type-1 {
    grid-column: span 4;
  }

  .content-grid-item.grid-item-type-2 {
    grid-column: span 2;
  }

  .content-grid-box {
    min-height: 156px;
  }

  .content-text-box {
    width: 100%;
  }

  .agents-content {
    margin: 0 3%;
  }

  .agents-text {
    padding: 60px 0 20px;
  }

  .agents-wrapper {
    flex-direction: column;
    padding: 0 0 90px;
  }

  .agent-item {
    margin: 0 0 1px;
  }
  
  .testimonial-content-inner {
    padding: 15px 20px;
  }
  
  .testimonials-title {
    padding: 60px 0 20px;
  }
  
  .about-page .testimonials-title > h2 {
    font-weight: 300;
  }

  .testimonials-wrap {
    flex-direction: column;
    padding-bottom: 50px;
  }

  .testimonial-box {
    width: 100%;
  }

  .testimonial-text br {
    display: none;
  }

  .partners-box-inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .partner-logo {
    width: calc(100% / 3);
  }

  .partner-logo img {
    width: 70%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .text-wrapper div {
    width: 90%;
    height: 470px;
    position: relative;
    top: 60px;
    justify-content: center;
  }

  .text-wrapper div > h1 {
    font-size: 35px;
  }

  .text-wrapper div > p {
    font-size: 22px;
  }

  .hero-cards {
    max-height: fit-content;
  }

  .hero-cards-wrapper {
    flex-direction: column;
    margin: 0 3%;
  }

  .hero-card {
    width: 100%;
    margin: 0 !important;
  }

  .hero-card p,
  .carousel-text-content p,
  .grid-text p,
  .form-descr p,
  .content-types-text div > p,
  .agents-text p {
    font-size: 16px;
  }

  .carousel-container {
    padding: 40px 20px 90px;
  }

  .carousel-text-content {
    height: auto;
    width: 95%;
    margin: auto;
  }

  .carousel-text-content h2,
  .form-descr h2,
  .content-types-text div > h2,
  .agents-text h2,
  .testimonials-title h2 {
    font-size: 30px;
  }

  .carousel-text-content p {
    width: 100%;
  }

  .swiper {
    width: 97%;
    height: 100%;
  }

  .swiper-wrapper {
    max-height: fit-content;
    margin-top: 0;
  }

  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination {
    display: none;
  }

  .widgets-content {
    min-height: 900px;
  }

  .widgets-content-inner {
    margin: 0 3%;
  }

  .widgets-title {
    justify-content: center;
  }

  .widgets-title h2,
  .grid-text h2 {
    font-size: 26px;
  }

  .widgets-container {
    flex-wrap: wrap;
  }

  .widget {
    max-width: 49%;
    width: 100%;
    margin: 1px 1px 0 0;
  }

  .widget:hover {
    transform: none;
  }

  .grid-layout-content {
    flex-wrap: wrap;
    padding: 60px 0;
  }

  .grid-items-box {
    width: 100%;
    margin: 0 5%;
  }

  .grid-text {
    text-align: left;
  }

  .grid-items-box:first-child .grid-item > .grid-item-inner,
  .grid-items-box:nth-child(2) .grid-item:last-child > .grid-item-inner {
    margin-bottom: 0;
  }

  .grid-item-inner.item-type-1,
  .grid-item-inner.item-type-3 {
    padding-bottom: 100%;
  }
  
  .form-content {
    margin: 0 3%;
  }

  .form-content-inner {
    flex-wrap: wrap;
  }

  .form-descr,
  .form-container {
    width: 100%;
  }

  .form-descr {
    margin: 0;
    padding: 30px 30px 50px;
  }

  .form-descr p {
    margin-bottom: 16px;
  }

  .form-container {
    margin: 0 3%;
  }

  .content-types-container {
    margin: 0 5%;
  }

  .content-types-inner {
    padding: 60px 10px 90px;
  }

  .content-types-grid {
    gap: 20px;
  }

  .content-grid-item.grid-item-type-1 {
    grid-column: span 4;
  }

  .content-grid-item.grid-item-type-2 {
    grid-column: span 2;
  }

  .content-grid-box {
    min-height: 250px;
  }

  .content-text-box {
    width: 100%;
  }

  .agents-content {
    margin: 0 5%;
  }

  .agents-text {
    padding: 60px 0 20px;
  }

  .agents-wrapper {
    flex-direction: column;
    padding: 0 0 90px;
  }

  .agent-item {
    margin: 0 0 1px;
  }

  .testimonials-content {
    margin: 0 3%;
  }

  .testimonials-title {
    padding: 70px 0 20px;
  }

  .about-page .testimonials-title > h2 {
    font-weight: 300;
  }

  .testimonials-wrap {
    flex-direction: column;
    padding-bottom: 60px;
  }

  .testimonial-box {
    width: 100%;
  }

  .testimonial-text br {
    display: none;
  }

  .partner-logo img {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .text-wrapper div {
    width: 90%;
    height: 470px;
    position: relative;
    top: 60px;
    justify-content: center;
  }

  .text-wrapper div > h1 {
    font-size: 40px;
  }

  .text-wrapper div > p {
    font-size: 22px;
  }

  .hero-card {
    padding: 35px 30px;
  }

  .hero-card p,
  .carousel-text-content p,
  .grid-text p,
  .form-descr p,
  .content-types-text div > p,
  .agents-text p {
    font-size: 16px;
  }

  .carousel-container {
    padding: 40px 20px 90px;
  }

  .carousel-text-content {
    height: auto;
    width: 95%;
    margin: auto;
  }

  .carousel-text-content h2,
  .form-descr h2,
  .content-types-text div > h2,
  .agents-text h2,
  .testimonials-title h2 {
    font-size: 32px;
  }

  .carousel-text-content p {
    width: 100%;
  }

  .swiper {
    width: 97%;
    height: 100%;
  }

  .swiper-wrapper {
    max-height: fit-content;
    margin-top: 0;
  }

  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination {
    display: none;
  }

  .widgets-content {
    min-height: 850px;
  }

  .widgets-content-inner {
    margin: 0 3%;
  }

  .widgets-title h2,
  .grid-text h2 {
    font-size: 26px;
  }

  .widget {
    padding: 30px 25px;
  }

  .grid-layout-content {
    margin: 0 3%;
    align-items: center;
  }

  .grid-items-box {
    padding: 15px 10px;
    justify-content: flex-start;
  }

  .grid-text p {
    margin-bottom: 10px;
  }

  .grid-item-inner {
    margin-bottom: 20px !important;
  }

  .grid-item-inner.item-type-1 {
    padding-bottom: calc(200% + 20px);
  }

  .form-descr {
    margin-right: 3%;
  }

  .form-container {
    width: 54%;
    margin-right: 3%;
  }

  .form-container form {
    padding: 40px 40px 30px;
  }

  .content-types-container {
    margin: 0 5%;
  }

  .content-types-grid {
    gap: 20px;
  }

  .content-grid-box {
    min-height: 200px;
  }

  .content-text-box {
    width: 100%;
  }

  .agents-content {
    margin: 0 5%;
  }

  .agents-wrapper {
    flex-wrap: wrap;
  }

  .agent-item {
    margin: 0 0 1px 1px;
    width: 49.85%;
  }

  .testimonials-content {
    margin: 0 3%;
  }

  .about-page .testimonials-title > h2 {
    font-weight: 300;
  }

  .testimonials-wrap {
    flex-direction: column;
  }

  .testimonial-box {
    width: 100%;
  }

  .testimonial-text br {
    display: none;
  }

  .partner-logo img {
    width: 70%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .text-wrapper div > h1 {
    font-size: 40px;
  }

  .text-wrapper div > p {
    font-size: 22px;
  }

  .hero-cards-wrapper {
    margin: 0 3%;
  }

  .hero-card {
    padding: 35px 30px;
  }

  .carousel-container {
    padding: 40px 20px 90px;
  }

  .carousel-text-content {
    height: auto;
    width: 95%;
    margin: auto;
  }

  .carousel-text-content h2,
  .form-descr h2,
  .content-types-text div > h2,
  .agents-text h2,
  .testimonials-title h2 {
    font-size: 32px;
  }

  .carousel-text-content p {
    width: 100%;
  }

  .swiper {
    width: 97%;
    height: 100%;
  }

  .swiper-wrapper {
    max-height: fit-content;
    margin-top: 0;
  }

  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination {
    display: none;
  }

  .widgets-content-inner {
    margin: 0 3%;
  }

  .widgets-title h2,
  .grid-text h2 {
    font-size: 26px;
  }

  .form-descr {
    margin-right: 5%;
  }

  .form-container {
    width: 52%;
    margin-right: 3%;
  }

  .content-types-grid {
    gap: 20px;
    padding: 0 3%;
  }

  .content-grid-box {
    min-height: 215px;
  }

  .agents-content {
    margin: 0 5%;
  }

  .agents-wrapper {
    flex-wrap: wrap;
  }

  .agent-item {
    margin: 0 0 1px 1px;
    width: 49.85%;
  }

  .testimonials-content {
    margin: 0 3%;
  }

  .about-page .testimonials-title > h2 {
    font-weight: 300;
  }

  .testimonial-box {
    padding: 0 5px;
  }

  .testimonial-box-inner {
    padding: 40px 30px;
  }

  .testimonial-text {
    max-width: 272.5px;
  }

  .partner-logo img {
    width: 70%;
  }
}
