@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

.about-page {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #000;
}
