@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro-section {
  width: 100%;
  height: 100%;
}

.intro-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
}

.intro-section-inner {
  width: 100%;
  padding: 10px;
}

.intro-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 70px 0 50px;
}

.intro-content-title {
  width: 100%;
  margin-bottom: 20px;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.intro-content-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.intro-content-text {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 20px;
}

.intro-content-text div {
  width: 50%;
}

.intro-content-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #54595f;
  margin-bottom: 16px;
}

.intro-content-text p > span {
  font-weight: 600;
}

@media (max-width: 575px) {
  .intro-container {
    margin: 0 3%;
  }

  .intro-section-inner {
    padding: 10px 20px;
  }

  .intro-content-wrapper {
    padding: 35px 0 20px;
  }

  .intro-content-title {
    margin-bottom: 10px;
  }

  .intro-content-text {
    gap: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .intro-container {
    margin: 0 5%;
  }

  .intro-content-wrapper {
    padding: 50px 0 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .intro-container {
    margin: 0 5%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .intro-container {
    margin: 0 3%;
  }
}
