@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
}

.scroll-to-top-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 12.5px;
  border: 1px solid #00aeff;
  background-color: #00aeff;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.scroll-to-top-button.active {
  opacity: 1;
  pointer-events: all;
  z-index: 10;
}

@media (max-width: 767px) {
  .scroll-to-top-button {
    right: 15px;
    bottom: 15px;
  }
}
