@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

.home-page {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  margin-top: -90px;
}

/* CAROUSEL SECTION */
/* Swiper library predefined classes */

.swiper {
  width: 100%;
  height: 453px;
  padding: 10px;
}

.swiper-wrapper {
  max-height: 338px;
  margin-top: 38px;
}

.swiper-slide {
  width: 293px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  padding-left: 10px;
  padding-right: 10px;
  width: 48px;
  height: 30px;
  border: 1px solid #00aeff;
  border-radius: 3px;
  background-color: transparent;
  color: #00aeff;
  transition: background-color 0.2s, color 0.2s;
}

.swiper-button-prev {
  position: absolute;
  top: 32px;
  right: 63px;
  left: auto;
}

.swiper-button-next {
  position: absolute;
  top: 32px;
  right: 10px;
  left: auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
}

.swiper-button-prev::after {
  content: "Prev";
}

.swiper-button-next::after {
  content: "Next";
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #00aeff;
  color: #fff;
}

.swiper-pagination {
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  margin: 6px 10px !important;
  width: 6px;
  height: 6px;
  opacity: 1;
  gap: 0;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

@media (max-width: 575px) {
  .swiper {
    width: 91%;
    height: 100%;
  }
}

@media (min-width: 576px) and (max-width: 1199px) {
  .swiper {
    width: 97%;
    height: 100%;
  }
}

@media (max-width: 1199px) {
  .swiper-wrapper {
    max-height: fit-content;
    margin-top: 0;
  }

  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination {
    display: none;
  }
}
